<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telegram Auth</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
<button onclick="sendGetRequest()">Send GET Request</button>
<pre id="response"></pre>

<script>
    function sendGetRequest() {
        const url = '/quest_uuid';

        fetch(url)
            .then(response => response.json())
            .then(data => {
                const responseElement = document.getElementById('response');
                responseElement.textContent = JSON.stringify(data, null, 2);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>
<div id="content">
    <p id="message"></p>
    <div id="edit-username" style="display: none;">
        <input type="text" id="username" placeholder="New Username">
        <button onclick="updateUsername()">Update Username</button>
    </div>
    <div>
        <p>Or authenticate with:</p>
    </div>
</div>

   <ul>
        {% for file in files %}
            <li>
                <a href="{{ url_for('uploaded_file', filename=file.name) }}">{{ file.filename }}</a>
                <a href="{{ url_for('delete_file', file_id=file.id) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>